<div>
    <p></p>
    <h3>Корзина</h3>
    <button type="button" class="btn btn-primary" ng-click="deleteCart()">Очистить корзину</button>


    <table class="table table-striped">
        <tr class="table-primary">
            <td>Название</td>
            <td>Количество</td>
            <td>Цена</td>
            <td></td>
        </tr>
        <tbody>
        <tr ng-repeat="item in cart.items">
            <td>{{item.productTitle}}</td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="removeProductFromCart(item.productId,-1)">-
                </button>
                {{item.quantity}}
                <button type="button" class="btn btn-primary" ng-click="addProductToCart(item.productId)">+</button>
            </td>
            <td>{{item.pricePerProduct + ' x ' + item.quantity + ' = ' + item.price}}</td>
            <td>
                <button type="button" class="btn btn-primary"
                        ng-click="removeProductFromCart(item.productId, -item.quantity)">Удалить из
                    корзины
                </button>
            </td>
        </tr>
        <tr>
            <td>Итого</td>
            <td></td>
            <td>{{cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>

    <li class="order-item" ng-show="isUserLoggedIn()">
        <form class="align-middle" ng-submit="createOrder()">
            <div class="input-group input-group-sm" style="padding: 4px;">
                <input id="orderAddressField" class="form-control" ng-model="user.address" type="text"
                       aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                <input id="orderPhoneField" class="form-control" ng-model="user.phone" type="text"
                       aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                <button id="orderSubmit" class="btn btn-outline-warning btn-sm"
                        style="margin-left: 10px;" type="submit">Оформить заказ
                </button>
            </div>
        </form>
    </li>

</div>